[submodule "vendor/org.foomo/org.foomo.core"]
	path = vendor/org.foomo/org.foomo.core
	url = ../ASLibrary-foomo_core.git
[submodule "vendor/org.foomo/org.foomo.mx"]
	path = vendor/org.foomo/org.foomo.mx
	url = ../ASLibrary-foomo_mx.git
[submodule "vendor/org.foomo/org.foomo.rpc"]
	path = vendor/org.foomo/org.foomo.rpc
	url = ../ASLibrary-foomo_rpc.git
